.container{
    width: 100%;
    height: 100px;
    background-color: #b6a5a5;
}
nav{
    background: #5f4b4b;
}
nav ul{
    display: flex;
}
nav> ul li{
    list-style: none;
    border-left:2px solid #b6a5a5;
}
nav> ul li a{
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #f1f2f3;
    text-decoration: none;
}
nav li ul{
    display: none;
    min-width: 350px;
    position: absolute;
    background: #645c5c;
}
nav  li:hover > ul{
    display:  block;
}
.container2{
    width: 100%;
    height: 600px;
    margin-top: -15px;
}
.container1{
    margin-top: -16px;
}